.Login_content_model{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.Login_content{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 136px;
    margin-bottom: 74px;
    width: 1480px;
    height: 790px;
    background: #fff;
    border-radius: 15px;
    position: relative;
  }